BLESKOMAT_SERVER_HOST=localhost
BLESKOMAT_SERVER_PORT=3000
BLESKOMAT_SERVER_URL=http://localhost:3000
BLESKOMAT_SERVER_ENDPOINT=/u
BLESKOMAT_SERVER_AUTH_API_KEYS=[]
BLESKOMAT_SERVER_LIGHTNING={"backend":"dummy","config":{}}
BLESKOMAT_SERVER_STORE={"backend":"memory","config":{}}
BLESKOMAT_SERVER_COINRATES_DEFAULTS_PROVIDER=dummy
BLESKOMAT_SERVER_ADMIN_WEB=
BLESKOMAT_SERVER_ADMIN_PASSWORD=
BLESKOMAT_SERVER_ADMIN_SESSION={"secret":null,"resave":true,"saveUninitialized":false,"cookie":{"httpOnly":true,"expires":false,"path":"/","sameSite":true,"secure":false}}
BLESKOMAT_SERVER_ADMIN_SCRYPT={"keylen":32,"saltBytes":20,"options":{"cost":16384}}
BLESKOMAT_SERVER_ENV_FILEPATH=test/.env
